body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a,li,ul {
    list-style: none;
    text-decoration: none;
    color: #000;
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about img {
    max-width: 200px;
    clip-path: circle();
}

.about h1 {
    font-size: 18px;
    font-weight: 500;
}

.cards {
    margin: 0;
    padding: 0;
    width: 50%;
}

.card {
    background: #fff;
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
    border-radius: 1rem;
}

.card p {
    font-weight: 700;
    font-size: 18px;
}

@media (max-width: 768px) {
    .cards {
        transition: 1s;
        width: 100%;
    }
}